.header{
  position: absolute;
  background: linear-gradient(to , #ff7e5f, #feb47b);
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.sigoutButton{

  background-color:red;
  border-radius: 10px;
  color: white;
  padding: 2px;

}
.image-container {
  width: 100vw; /* Ensure the container takes the full width of the viewport */
  overflow: hidden;
  position: absolute;
 
}

.image-container img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
}
.Netflix-Logo{
  width: 200px;
}
.form{
  opacity: 0.8;
}
